body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.material-symbols-outlined {
    
   margin-left: 50px; 
  }
  
.dropdown-btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; /* Font for button text */
    font-size: 15px;
    padding: 10px 20px;

}
.dropdown-btn:hover{
    background-color: rgb(241, 241, 241);
}
.dropdown-list{
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: rgb(241, 241, 241);
}

li{
    border: 2px solid black;
    border-radius: 10px;
    width: 208px;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;

}